<div class="admin-categories">
<h1>Create New Category</h1>

<%= form_with(model: [:admin, @category], local: true) do |form| %>
  <div>
    <%= form.label :name, 'Category Name' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit 'Create Category' %>
  </div>
  </div>

<% end %>
