
<section class="admin-products-index mt-5">

  <header class="mb-4">
    <h1>Admin &raquo; All Products</h1>
  </header>

  <div class="mb-4">
    <%= link_to '+ New Product', [:new, :admin, :product], class: 'btn btn-primary' %>
  </div>

  <div class="card">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Category</th>
          <th>Price</th>
          <th>Qty Remaining</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @products %>
      </tbody>
    </table>
  </div>

</section>
