.cart-show {
  tr div {
    width: max-content;
  }

  button.stripe-button-el span {
    border-radius: 0.25em;
    border: 0.1em solid rgba(0, 130, 29, 0.8);
    background: rgba(0, 130, 29, 0.7);
    color: white;
  }

  .discounted {
    text-decoration: line-through; // Strikethrough the original price
    opacity: 0.6; // Fade the original price slightly
    font-size: 0.9em; // Optionally reduce the font size
    color: red; // Optionally make the original price red
    margin-right: 5px; // Some margin to separate from the new price
  }

  .new-price {
    color: green; // Highlight the discounted price in green
  }

  // Styling for empty cart message
  .alert-info {
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    border-color: black;
    background-color: rgb(158, 241, 153);

    a {
      font-weight: bold;
      color: white;
      background-color: rgba(0, 130, 29, 0.8);
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: rgba(0, 160, 29, 0.9);
        color: black;
      }
    }
  }
}
